.heatmap {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    border-collapse: collapse !important;
}

.table thead th {
    background-color: #ca5405;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    color: whitesmoke;
    width: 60px;
}

.table tbody th {
    background-color: #000000c8;
    color: whitesmoke;
}

.table td {
    border: 0.5px solid #ddd;
}

.table td {
    width: 30px;
    height: 30px;
    text-align: center;
}


.emptyCell {
    border-left: 0px none #ddd !important;
    background-color: transparent !important;
}


.legend {
    margin: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.legend svg {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.heatmap p {
    margin: 0 0.5em;
}
