.heatmap {
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
}

.table {
    border-collapse: collapse !important;
    width: 98%;
}

.table thead th {
    background-color: whitesmoke;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    color: #000000c8;
    width: 7%;
}

.table tbody th {
    background-color: #000000c8;
    color: white;
}

.table tbody td {
    color: white;
    max-width: 0; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table td {
    text-align: center;
}

.emptyCell {
    border-left: 0px none #ddd !important;
    background-color: transparent !important;
}

.legend {
    margin: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.legend svg {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.heatmap p {
    margin: 0 0.5em;
}

/* laptops styles */
@media screen and (min-width: 920px) {
    .linebreak {
        display: none;
    }
}

/* large devices styles */
@media screen and (min-width: 1200px) {
    .heatmap {
        font-size: 1.1em;
    }
}