.searchbar {
    width: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1em auto;
}

.searchbar span {
    margin: 10px;
}

.searchbar input {
    all: unset;
    font: 16px system-ui;
    color: black;
    background-color: white;
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.searchbar input::placeholder {
    color: black;
}

.searchbar input:focus,
.searchbar button:focus {
    outline: #ffc107 solid 2px;
    outline-offset: 3px;
}

.button {
    all: unset;
    cursor: pointer;
    width: 45px;
    height: 40px;
    color: white;
    background-color: #8A3700;
    border-radius: 5px;
    margin: 5px 10px;
}

.button svg {
    color: white;
    fill: currentColor;
    width: 30px;
    height: 30px;
    padding: 5px;
}


/* landscape phones styles */
@media screen and (min-width: 576px) {
    .searchbar {
        width: 70%;
    }
}

/* portrait tablets styles */
@media screen and (min-width: 768px) {
    .searchbar {
        width: 60%;
    }
}

/* laptops styles */
@media screen and (min-width: 920px) {
    .searchbar {
        width: 50%;
    }
}

/* large devices styles */
@media screen and (min-width: 1200px) {
    .searchbar {
        width: 40%;
    }
}