

.searchbar {
    background-color: #c5733c;
    width: 85%;
    height: 44px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1em auto;
  }

  .searchbar input {
    all: unset;
    font: 16px system-ui;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
  }

  ::placeholder {
    color: #fff;
    opacity: 0.7; 
  }

  .button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
  }
  
  .button svg {
    color: #fff;
    fill: currentColor;
    width: 34px;
    height: 34px;
    padding: 5px;
  }

  /* landscape phones styles */
@media screen and (min-width: 576px) {
    .searchbar {
        width: 70%;
    }
}

/* portrait tablets styles */
@media screen and (min-width: 768px) {
    .searchbar {
        width: 60%;
    }
}

/* laptops styles */
@media screen and (min-width: 920px) {
    .searchbar {
        width: 50%;
    }
}

/* large devices styles */
@media screen and (min-width: 1200px) {
    .searchbar {
        width: 40%;
    }
}