.navigation {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0.5em 0em;
}

.brandName {
    text-decoration: none;
    margin: 0.5em 1em;
    display: flex;
    align-items: center;
    color: #8A3700;
}

.brandName h1 {
    margin-left: 0.5em;
    font-size: 1.2em;
}

.navigationLinks {
    margin-left: auto;
}

.navigationLinks ul {
    display: flex;
    padding-right: 2em;
}

.navigationLinks li {
    list-style-type: none;
    margin: 0em;
}

.navigationLinks li a {
    color: #8A3700;
    font-weight: bolder;
    text-decoration: none;
    margin-right: 1em;
}

.navigationLinks li a:hover {
    border-bottom: 2px solid #ff8737;
}