.tbody {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0.5em;
    color: black;
}

td > a {
    color: #8A3700;
    text-decoration: none;
    border-bottom: 1px dotted #f97924;
    font-weight: 600;
}

td > a:hover, td > a:focus {
    border: none;
    text-decoration: none;
}