.tbody {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0.5em;
}

.postLinkDiv {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0.5em;
}

.post {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #8A3700;
    padding: 0.5em;
}

.postLink {
    text-decoration: none;
    color: #f97924;
}

.postLink:hover {
    text-decoration: none;
    border-bottom: 3px dotted #ffc107;
}

.postLink:focus {
    text-decoration: none;
    outline: none;
    border-bottom: 3px solid #ffc107;
}

.postDetails {
    display: flex;
    justify-content: space-between;
}