.postslist {
    width: 96%;
    margin: 1em auto;
    padding: 1em;
    border: 2px solid #8A3700;
    border-radius: 1.5em;
    text-align: center;
    color: #8A3700;
}

.postslist h3 {
    border-bottom: 3px solid #8A3700;
    padding-bottom: 0.5em;
}

.postslist table {
    text-align: center;
    width: 100%;
}

.thead {
    padding: 0.3em;
}

#tableHeaderTitle {

    width: 50%;
}

#tableHeaderCreated {
    width: 30%;
}

#tableHeaderScore {
    width: 10%;
}

#tableHeaderComments {
    width: 10%;
}

/* landscape phones styles */
@media screen and (min-width: 576px) {
    .postslist {
        width: 85%;
    }
}

/* laptops styles */
@media screen and (min-width: 920px) {
    .postslist {
        width: 95%;
    }
}