* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 98%;
    min-height: calc(100svh - 90px - 60px - 2em);
    margin: 1em auto;
    display: flex;
    flex-direction: column;
}

.container h2 {
    text-align: center;
    color: #8A3700;
}

/* landscape phones styles */
@media screen and (min-width: 576px) {
    .container {
        width: 90%;
    }
}

/* laptops styles */
@media screen and (min-width: 920px) {
    .container {
        width: 96%;
    }
}

/* large devices styles */
@media screen and (min-width: 1200px) {
    .container {
        width: 80%;
    }
}